@model JobApply;


<style>
    .main-cta {
        margin-top: 20px
    }

    [data-aos^="fade"][data-aos^="fade"].aos-animate {
        opacity: 0.8;
        transform: translateZ(0);
    }


    .carrer-container img {
        width: 251px;
        height: auto;
        margin-top: 70px;
        margin-left: 40px;
    }

    .list-item img {
        width: 100%;
        /* Make sure the image takes up the full width of its container */
        height: auto;
        /* Maintain aspect ratio */
    }


    .form-field {
        background-color: rgba(255, 255, 255, 0);
        border: 0 solid #000;
        border-top-color: #4d4d4d;
        border: 1px solid rgba(255, 255, 255, 0.5);
        margin-bottom: 40px;
        font-size: 18px;
        border-radius: 5px;
    }

    .form-field:focus {
        outline: none;
        border-color: #ccc;

    }


    .w-input,
    .w-select {
        width: 100%;
        height: 38px;
        vertical-align: middle;
        border: 1px solid #ccc;
        margin-bottom: 22px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.42857;
        display: block;
    }

    .Positions {

        position: relative;
        width: 240px;
    }

    .Positions select {
        display: none;
    }

    .select-selected {
        background: #292a2a;
    }

    .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
    }

    .select-items div,
    .select-selected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
    }

    .select-items {
        position: absolute;
        background-color: #4e5154;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
    }

    .select-hide {
        display: none;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }


    .swal2-container.swal2-center>.swal2-popup {
        border-radius: 20px;
        background: #141313;
        opacity: 0.97226;

    }

    @@media (min-width: 575.98px) and (max-width: 991.98px) {
        .carrer-container img {
            width: 200px;
        }


    }
</style>
<main>
    <div class="section-first wf-section">
        <div class="container ">
            <div class="main-title-wrapper">
                <h1 class="main-title left">Career in ITS</h1>
            </div>
            <div class="carrer-container">
                <div class="text-block left">
                    We believe in a great company’s culture by bringing together our teams and appreciating their
                    contribution.
                    We promote respect, teamwork, and work-life balance.
                    </br>
                    </br>
                    ITS’s long-term success as a consulting and technology-oriented company depends on attracting the
                    most talented and capable candidates.
                    The candidate’s selection process is well-established
                    through our internal recruitment policy, based on merit, and the candidate’s ability to perform the
                    work according to ITS’s mission values.
                    </br>
                    </br>
                    We strongly believe in the path we have set to become a leading company operating with international
                    standards and technical
                    excellence based on the continuous development of our people. Our team members thrive in a
                    fast-paced and collaborative environment.
                    </br>
                    They are a group of professionals with individual passion and quality to devise tech solutions. We
                    seek the best and brightest
                    to join us on our journey.
                </div>
                <div class="img-box">
                    <img src="~/imgs/7.png" alt="career boost image">

                </div>
            </div>


        </div>
    </div>
    <div class="img-box2">
        <div class="list-item">
            <div class="team-members"> <img src="~/imgs/10.png" alt="career boost image"></div>
        </div>
        <div class="list-item">
            <div class="team-members"> <img src="~/imgs/1.png" alt="career boost image"></div>
        </div>
        <div class="list-item">
            <div class="team-members"> <img src="~/imgs/2.png" alt="career boost image"></div>
        </div>
        <div class="list-item">
            <div class="team-members"> <img src="~/imgs/3.png" alt="career boost image"></div>
        </div>

    </div>
    @* <div class="slideshow-container">

    <div class="mySlides fade">
    <img src="~/imgs/Laert.png" style="width:100%">

    </div>

    <div class="mySlides fade">
    <img src="~/imgs/Armil.png" style="width:100%">

    </div>





    </div>
    <br>

    <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    </div> *@
    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left" style="margin-top:70px;">What we offer</h1>
            </div>
            <div class="offers-container">
                <div class="offer-container-wrapper" style="overflow-x:hidden;">
                    <div class="offer-card" asp-action="MC" data-aos="fade-right">
                        <ul class="card-title">
                            <li>Innovative and collaborative work environment</li>
                            <br>
                            <li>Possibility to grow professionally</li>
                            <br>
                            <li>Guidance during your work performance</li>
                            <br>
                            <li>Technical Training through on-the-job experience and structured learning for recent
                                graduates</li>

                        </ul>
                    </div>
                    <div class="offer-card" asp-action="MC" data-aos="fade-left">
                        <ul class="card-title">
                            <li>Annual promotions and reward</li>
                            <br>
                            <li>Periodic Team Building activities (Retreats, Happy hours, Sport
                                Activities, Gathering, Celebrations, etc.)</li>
                            <br>
                            <li>Enhancement of employee’s experience through staff perks</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left" style="margin-top:70px">Job Opportunities</h1>
            </div>
            <div class="jobs-container">
                <div class="job-container">
                    <a type="button" class="collapsible">
                        <div class="job-title">Supply Chain Shortages Management Consultant (German Speaker)</div>
                        <button onclick="showModal('Supply Chain Management Consultant (German Speaker)')"
                            class="apply-cta">Apply Now</button>
                    </a>
                    <div class="content">
                        <div class="sub-content">
                            <h4>Duties & Responsibilities</h4>
                            <ul>
                                <li>• Manage the System of international clients for the optimization of their work
                                    process.</li>
                                <li>• Ensure smooth running of the automation industry logistics process through the
                                    customized system used by the client.</li>
                                <li>• Consulting, monitoring, and supervision of deliveries through international postal
                                    agencies.</li>
                                <li>• Training and instructing suppliers on the correct use of the system for a normal
                                    work process.</li>
                                <li>• Help clients transform their value chains into competitive advantages by driving
                                    proactive insights and decision-making, and you’ll tackle our clients’ complex
                                    business
                                    issues. </li>
                            </ul>
                        </div>
                        <div class="sub-content">
                            <h4>Candidate’s qualifications</h4>
                            <ul>
                                <li>• Graduated in Computer Science, Engineering, Business Informatics, Finance, or
                                    similar
                                    fields.</li>
                                <li>• At least 3 years of experience in Supply Chain Management or Transportation
                                    Operations, Logistic Consulting, Procurement, Business Solutions Development,
                                    Transport Logistic Management etc.</li>
                                <li>• Fluent in German, very good knowledge of English;</li>
                                <li>• Proficiency with Microsoft Office applications;</li>
                                <li>• Detail-oriented and enjoy working with software.</li>
                                <li>• Possess solid analytical, interpersonal, and communication skills.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="job-container">
                    <a type="button" class="collapsible">
                        <div class="job-title">Business Intelligence (BI) Specialist</div>
                        <button class="apply-cta" style="background-color:red;">Closed</button>
                    </a>
                    <div class="content">
                        <div class="sub-content">
                            <h4 style="color: #;">Duties & Responsibilities</h4>
                            <ul>
                                <li>• Design, develop, and implement end-to-end BI solutions to meet business
                                    requirements.</li>
                                <li>• Create and maintain data models for efficient storage and retrieval of
                                    information.</li>
                                <li>• Develop and optimize Extract, Transform, Load (ETL) processes for data
                                    integration.</li>
                                <li>• Design and build interactive dashboards, reports, and visualizations for business
                                    stakeholders.</li>
                                <li>• Optimize the performance of BI queries and processes for large datasets. </li>
                                <li>• Implement and enforce data governance best practices to ensure data quality and
                                    compliance.</li>
                                <li>• Collaborate with business users to understand requirements and provide training on
                                    BI
                                    tools. </li>
                            </ul>
                        </div>
                        <div class="sub-content">
                            <h4 style="color: #;">Candidate’s qualifications</h4>
                            <ul>
                                <li>• Bachelor’s or master’s degree in a related field.</li>
                                <li>• Proven experience as a BI Developer, BI Analyst, or similar role.</li>
                                <li>• Expertise in BI tools such as Power BI.</li>
                                <li>• Strong SQL and data warehousing skills.</li>
                                <li>• Experience in ETL tools and processes.</li>
                                <li>• Knowledge of data governance principles.</li>
                                <li>• Excellent problem-solving and communication skills.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="job-container">
                    <a type="button" class="collapsible">
                        <div class="job-title">Data Analyst</div>
                        <button class="apply-cta" style="background-color:red;">Closed</button>
                    </a>
                    <div class="content">
                        <div class="sub-content">
                            <h4 style="color: #;">Duties & Responsibilities</h4>
                            <ul>
                                <li>• Collect, clean, and validate data from various sources to ensure accuracy and
                                    completeness.</li>
                                <li>• Analyze large datasets to identify trends, patterns, and insights that support
                                    business decision-making.</li>
                                <li>• Generate and present clear and actionable reports, visualizations, and dashboards
                                    to communicate findings to stakeholders.</li>
                                <li>• Maintain and update databases, ensuring data integrity and consistency.</li>
                                <li>• Write and optimize SQL queries to extract, transform, and load data. </li>
                                <li>• Develop and implement data quality assurance processes to identify and address
                                    data issues.</li>
                                <li>• Collaborate with cross-functional teams to understand business requirements and
                                    provide data-driven insights. </li>
                            </ul>
                        </div>
                        <div class="sub-content">
                            <h4 style="color: #;">Candidate’s qualifications</h4>
                            <ul>
                                <li>• Bachelor's degree in a related field (e.g., Statistics, Mathematics, Computer
                                    Science).</li>
                                <li>• Proven experience as a Data Analyst or in a similar role.</li>
                                <li>• Strong proficiency in SQL and data visualization tools (e.g. Power BI).</li>
                                <li>• Analytical mindset with attention to detail.</li>
                                <li>• Excellent communication and presentation skills.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section wf-section">
        <div class="container">
            <div class="main-title-wrapper">
                <h1 class="main-title left" style="margin-top:70px"> Want to join our team?</h1>
                <p style="margin-top:10px;">If you haven't found a suitable position, you can still send us your
                    application! </p>

            </div>
            <div class="form-block w-form">

                @* @using (@Html.BeginForm("SendEmail", "Home", FormMethod.Post, new { enctype = "multipart/form-data"
                }))
                {
                @Html.TextBoxFor(x => x.Name, new { @class = "form-field w-input", @placeholder = "Full Name *",
                @required = "" })
                @Html.TextBoxFor(x => x.Email, new { @class = "form-field w-input", @placeholder = "Email Address *",
                @required = "" })
                @Html.TextBoxFor(x => x.Number, new { @class = "form-field w-input", @placeholder = "Phone
                number(Optional)", @required = "" })

                <input asp-for="file" name="CV" type="file" />

                <div class="Positions">
                <select asp-for="Position" name="Open Position" required="">
                <option value="">Please select a position:</option>
                <option value=".NET Developer">.NET Developer</option>
                <option value="Al Developer">Al Developer</option>
                <option value="BC Consultant">BC Consultant</option>
                <option value="SUPPLY CHAIN MANAGEMENT CONSULTANT">
                SUPPLY CHAIN MANAGEMENT CONSULTANT
                </option>
                </select>
                </div>
                <div class="col-md-offset-4 col-md-8">
                <input type="submit" class="btn btn-info btn-block col-md-12" />
                </div>
                } *@

                <form id="myform" asp-action="SendEmailFromForl" method="POST" enctype="multipart/form-data">
                    <input asp-for="Name" type="text" class="form-field w-input" name="Name" placeholder="Full Name *"
                        required="">
                    <span class="text-danger" asp-validation-for="Name"></span>

                    <input id="emailfield" class="form-field w-input" asp-for="Email" name="Email" type="email"
                        placeholder="Email Address *" required="">
                    <span class="text-danger" asp-validation-for="Email"></span>


                    <input class="form-field w-input" asp-for="Phone" name="Phone" type="tel"
                        placeholder="Phone number(Optional)">
                    <span class="text-danger" asp-validation-for="Phone"></span>

                    <input class="form-field w-input textarea" asp-for="Position" name="Position"
                        placeholder=" Which position are you interested in? *" required=""/> 
                    <span class="text-danger" asp-validation-for="Position"></span>

                    <label asp-for="CvFile">Upload CV</label>
                    <input asp-for="CvFile" name="CvFile" type="file" required="" />
                    <span asp-validation-for="Position"></span>

                    <div class="button-box">
                        <input type="submit" value="Apply" class="main-cta w-button" />
                    </div>
                </form>

                @* <input type="hidden" name="access_key" value="a508f18d-27ad-455a-a10d-af959ec0d024"> *@
                @* <form id="myform" action="Home/SendEmail" method="POST">
                <input id="namefield" type="text" class="form-field w-input" name="Name" placeholder="Full Name *"
                required="">
                <input id="emailfield" class="form-field w-input" name="Email" type="email"
                placeholder="Email Address *" required="">
                <input id="phonefield" class="form-field w-input" name="Phone" type="number"
                placeholder="Phone number(Optional)">
                <div class="resume">
                <label for="inputfile">CV ( resume )</label>
                <div data-fileupload="true" style="dispaly:none">

                </div>
                <div class="Positions">
                <select id="selectposition" name="Open Position" required="">
                <option value="">Please select a position:</option>
                <option value=".NET Developer">.NET Developer</option>
                <option value="Al Developer">Al Developer</option>
                <option value="BC Consultant">BC Consultant</option>
                <option value="SUPPLY CHAIN MANAGEMENT CONSULTANT">SUPPLY CHAIN MANAGEMENT CONSULTANT
                </option>
                </select>
                </div>
                <div class="button-box">
                <input type="submit" id="btn1" value="Apply" class="main-cta w-button"/>
                </div>
                </form> *@
            </div>
        </div>
    </div>
</main>
<script>
    function validateForm() {
        // Get the values of the input fields
        let name = document.getElementById("Name").value;
        let email = document.getElementById("emailfield").value;
        let position = document.getElementById("selectposition").value;
        // Check if any of the fields are empty
        if (name.trim() === "" || email.trim() === "" || position.trim() === "") {
            alert("Please fill in all required fields.");
            return false; // Prevent the form from submitting
        }
        // If all fields are filled, allow the form to submit
        return true;
    }
</script>
<script>
    // Initialize AOS
    AOS.init();
</script>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
                content.style.margin = "0px 25px";
            } else {
                content.style.maxHeight = "430px";
                content.style.maxHeight = "370" + "px";
                content.style.margin = "0px 25px 15px";
            }
        });
    }

    var x, i, j, l, ll, selElmnt, a, b, c;
    x = document.getElementsByClassName("Positions");
    l = x.length;
    for (i = 0; i < l; i++) {
        selElmnt = x[i].getElementsByTagName("select")[0];
        ll = selElmnt.length;
        /*for each element, create a new DIV that will act as the selected item:*/
        a = document.createElement("DIV");
        a.setAttribute("class", "select-selected");
        a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
        x[i].appendChild(a);
        /*for each element, create a new DIV that will contain the option list:*/
        b = document.createElement("DIV");
        b.setAttribute("class", "select-items select-hide");
        for (j = 1; j < ll; j++) {
            /*for each option in the original select element,
            create a new DIV that will act as an option item:*/
            c = document.createElement("DIV");
            c.innerHTML = selElmnt.options[j].innerHTML;
            c.addEventListener("click", function (e) {
                /*when an item is clicked, update the original select box,
                and the selected item:*/
                var y, i, k, s, h, sl, yl;
                s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                sl = s.length;
                h = this.parentNode.previousSibling;
                for (i = 0; i < sl; i++) {
                    if (s.options[i].innerHTML == this.innerHTML) {
                        s.selectedIndex = i;
                        h.innerHTML = this.innerHTML;
                        y = this.parentNode.getElementsByClassName("same-as-selected");
                        yl = y.length;
                        for (k = 0; k < yl; k++) {
                            y[k].removeAttribute("class");
                        }
                        this.setAttribute("class", "same-as-selected");
                        break;
                    }
                }
                h.click();
            });
            b.appendChild(c);
        }
        x[i].appendChild(b);
        a.addEventListener("click", function (e) {
            /*when the select box is clicked, close any other select boxes,
            and open/close the current select box:*/
            e.stopPropagation();
            closeAllSelect(this);
            this.nextSibling.classList.toggle("select-hide");
            this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
        var x, y, i, xl, yl, arrNo = [];
        x = document.getElementsByClassName("select-items");
        y = document.getElementsByClassName("select-selected");
        xl = x.length;
        yl = y.length;
        for (i = 0; i < yl; i++) {
            if (elmnt == y[i]) {
                arrNo.push(i)
            } else {
                y[i].classList.remove("select-arrow-active");
            }
        }
        for (i = 0; i < xl; i++) {
            if (arrNo.indexOf(i)) {
                x[i].classList.add("select-hide");
            }
        }
    }
    document.addEventListener("click", closeAllSelect);
</script>

<script>

    function showModal(title) {
        var position = title;
        swalWithBootstrapButtons.fire(
            {
                title: "Confirm",
                html: '    <div class="form-block w-form"><div id="myform" method="Post"><input id="fposition" class="form-field w-input" value="' + position + '"" name="position" required"""><input id="fname" type="text" name="name" class="form-field w-input" placeholder="Full Name *" required=""><input id="femail" name="email" class="form-field w-input" type="email" placeholder="Email Address *" required=""><input id="fphone" name="phone" class="form-field w-input" type="number" placeholder="Phone number" required=""><div class="resume"><input id="cvfield" type="file"><\/div><div class="button-box"> <span id="errorMessage" style="color: red;"></span>  <button onclick="SendMail()" type="submit" class="main-cta w-button">Apply</button> <\/div><\/div><\/div>'
                , showConfirmButton: !1
            }
        )
    }
    const swalWithBootstrapButtons = Swal.mixin({ buttonsStyling: !1 });

    function SendMail() {
        var fname = $("#fname").val();
        var femail = $("#femail").val();
        var fphone = $("#fphone").val();
        var fposition = $("#fposition").val();
        var files = $("#cvfield").get(0).files;

        // Check if any of the required fields is empty
        if (fname.trim() === "" || femail.trim() === "" || fphone.trim() === "" || fposition.trim() === "" || files.length === 0) {
            // Display error message
            $("#errorMessage").text("Please fill in all fields.");
            return; // Exit the function early
        } else {
            // Clear the error message if all fields are filled
            $("#errorMessage").text("");
        }

        // Add the uploaded image content to the form data collection
        var formData = new FormData();
        formData.append("Name", fname);
        formData.append("Email", femail);
        formData.append("Phone", fphone);
        formData.append("Position", fposition);

        if (files.length > 0) {
            formData.append("cvfile", files[0]);
        }

        var _url = '@Url.Action("SendEmail", "Home")';

        $.ajax({
            url: _url,
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                // window.location.href = response.redirectToUrl;
                if (response == true){
                                        Swal.fire({
  title: "Success!",
  text: "Your application was submitted successfully.",
  icon: "success"
}); 
                } else {
                 Swal.fire({
  icon: "error",
  title: "Error!",
  text: "There was an error submitting your application. Please try again later.",
});
                    }
            },
            error: function (jqXHR) {
                // Handle error if needed
            },
            complete: function (jqXHR, status) {
                // Handle completion if needed
            }
        });
        swalWithBootstrapButtons.close();
    }


</script>
